<h1>Eat-Da_Burger!</h1>

<h2>Burgers to Eat</h2>

<ul>
  {{!-- loops through movies table --}}
  <ul>
    {{!-- Key of object passing in data from table --}}
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devour=false}}
    {{/unless}}
    {{/each}}
  </ul>



  <h2>Devoured Burgers</h2>

  <ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-devoured devour=true}}
    {{/if}}

    {{/each}}
  </ul>

  <h2>Add a Burger</h2>
  {{!-- Form that will allow us to add data to our database --}}
  {{!-- When submit button is click a POST response is submitted the /create route --}}
  {{!-- /create is what we will be referencing with our post response --}}
  <form class="card-body">
    <div class="form-group">
      <label for="burger"> Burger Name:</label>
      <input type="text" id="burger" name="name">
    </div>
    <button class="addBurger">Add Burger</button>
  </form>
  </div>



  {{!-- ADD A BURGER --}}
  {{!-- <form method="POST" action="/create">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">ADD BURGER
     </button>
</form> --}}